h1{
    text-align:center;
    color:darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 40px;
}

p{
    text-align:center;
    color:darkblue;
    font-family: cursive; 
    font-weight:bold; 
}

